Source: programming-bootstrap
Section: devel
Priority: optional
Maintainer: James Wheatley <james@jammy.co>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/JammyStuff/programming-bootstrap-deb.git
Vcs-Browser: https://github.com/JammyStuff/programming-bootstrap-deb

Package: programming-bootstrap
Architecture: all
Depends: ${misc:Depends},
         python(<< 3), python3, python-pip, python3-pip,
         ruby,
         build-essential, cpputest, clang,
         llvm,
         golang,
         default-jdk, default-jre,
         ghc,
         mono-complete,
         nodejs,
         erlang,
         gnat,
         vim,
         emacs,
         eclipse, eclipse-cdt,
         monodevelop, monodevelop-nunit,
         git,
         mercurial,
         subversion,
         cvs,
         gdb
Description: Metapackage providing a wide variety of development tools
 This is a metapackage providing a number of development tools, such as
 compilers for a variety of languages, IDEs, and editors.

Package: programming-bootstrap-setup
Architecture: all
Depends: ${misc:Depends}
Suggests: programming-bootstrap
Description: Installs sources.list for programming-bootstrap repo
 This package installs a sources.list to /etc/apt/sources.list.d/ for the
 programming-bootstrap repository, as well as the packagecloud.io apt key.
